@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #E6EAF3;
  margin: 0;
  padding: 0;
}

.GLOBAL-BOX {
  background: #F9FAFD;
  border: 1px solid #b9bcc4;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.05), inset 2px 2px 0 white;
  border-radius: 2px;
}